In [1]:
# Multiple Linear Regression

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')

In [4]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [9]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [10]:
#Convert the column into categorical columns
states = pd.get_dummies(X['State'],drop_first=True)
#Drop frist = true (To avoid dummy variable trap)

In [15]:
dataset['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [16]:
#drop the state column
X = X.drop('State',axis = 1)
#concat the dummy var
X = pd.concat([X,states],axis=1)

In [18]:
#TTS
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.2, random_state = 0)

In [19]:
#Fitting the MLR 
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
#Prediction
y_pred = regressor.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [22]:
score

0.9347068473282424